/* fonts */
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans'),
    url('../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2')format('woff2'),
    url('../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff')format('woff'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: local('Spoqa Han Sans'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2)format('woff2'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff)format('woff'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf)format('truetype');
}

body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* 글자 크기 */
.main-title{
    font-weight: bolder;
    font-size: 30px;
}

.index{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.subtitle{
    margin:0;
    padding-bottom: 5px;
}

h3{
    margin: 0;
}

.text{
    padding-top: 10px;
}


/* 8. 테이블 요소 */
/* table solid */
th, td{
    border: 0.1px solid;
}

table{
    padding: 5px;
    width: 100%;
}

ul, ol{
    padding-left: 30px;
    margin: 0;
}



/* boxes */
.main{
    margin: 3px;
    border: 3px solid darkblue;
}

.before{
    padding: 10px;
    border-bottom: 3px solid lightblue;
    margin-bottom: 10px;
}

.ex-box{
    margin: 10px;
}

.group{
    margin: 10px;
    padding: 5px;
    border: 2px solid lightgray;
}
